<div class="jumbotron">
    <h2 class="display-4">TS-Node-App</h2>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor nihil nisi consequuntur voluptate
        deserunt error unde distinctio, velit facilis voluptates blanditiis placeat? Ea debitis necessitatibus commodi
        error a recusandae tenetur.</p>
    <a href="" class="btn btn-primary btn-lg">Tasks List</a>
</div>